configuration {
    modi:                   "window,run,drun";
	  font:							      "IBM Plex Sans 12";
    show-icons:             true;
    display-drun: 					"Applications";
    drun-display-format:    "{name}";
    disable-history:        false;
	  sidebar-mode: 					false;
    timeout {
        action: "kb-cancel";
        delay: 5;
    }
}

@theme "theme.rasi"
